---
import CallToAction from "./CallToAction.astro";
import Icon from "./Icon.astro";
---

<aside>
  <h2>Interested in working together?</h2>
  <CallToAction href="mailto:hi@kuldeep.tech">
    Send Me a Message
    <Icon icon="paper-plane-tilt" size="1.2em" />
  </CallToAction>
</aside>

<style>
  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    border-top: 1px solid var(--gray-800);
    border-bottom: 1px solid var(--gray-800);
    padding: 5rem 1.5rem;
    background: var(--gray-999_40);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    box-shadow: var(--shadow-sm), 0 0 40px -10px var(--accent-subtle-overlay);
    position: relative;
    overflow: hidden;
  }

  aside::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, var(--accent-subtle-overlay) 0%, transparent 60%);
    opacity: 0.2;
    pointer-events: none;
    z-index: 0;
  }

  h2, CallToAction {
    z-index: 1;
  }

  h2 {
    font-size: var(--text-xl);
    text-align: center;
    max-width: 15ch;
  }

  @media (min-width: 50em) {
    aside {
      padding: 7.5rem;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    h2 {
      font-size: var(--text-3xl);
      text-align: left;
    }
  }
</style>
