<div class="pill"><slot /></div>

<style>
  .pill {
    display: flex;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    color: var(--accent-regular);
    border: 1px solid var(--accent-regular);
    background-color: var(--accent-subtle-overlay);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 999rem;
    font-size: var(--text-sm);
    font-family: var(--font-mono);
    line-height: 1.35;
    white-space: nowrap;
    box-shadow: 0 0 10px var(--accent-overlay);
  }
</style>
