---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="skill-item stack gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Backend Development</h2>
    <p>
      Expertise in Node.js, TypeScript, and Golang for building scalable RESTful
      APIs and backend services.
    </p>
  </div>
  <div class="skill-item stack gap-2 lg:gap-4">
    <Icon icon="shield" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Reliability</h2>
    <p>
      Implementing observability stacks and monitoring to ensure high system
      availability.
    </p>
  </div>
  <div class="skill-item stack gap-2 lg:gap-4">
    <Icon icon="robot" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Automation First</h2>
    <p>
      Eliminating toil through robust CI/CD pipelines, infrastructure as code,
      and intelligent automation.
    </p>
  </div>
</section>

<style>
  .box {
    margin-top: 1rem;
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    box-shadow: var(--shadow-sm), 0 0 40px -10px var(--accent-subtle-overlay);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skill-item {
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    padding: 1.5rem;
    border-radius: 1rem;
    border: 1px solid transparent;
  }

  .skill-item:hover {
    transform: translateY(-8px);
    background: var(--gradient-subtle);
    box-shadow: 0 20px 40px -15px var(--accent-overlay);
    border-color: var(--accent-regular);
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      margin-top: 4rem;
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }

    .skill-item {
      padding: 1.5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
